
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
argon2-cffi = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-mptt = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-cities-light = "*"
django-countries = "*"
werkzeug = "*"
django-filter = "*"
requests = "*"
pytest = "*"
pytest-django = "*"
pytest-factoryboy = "*"
python-dateutil = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
psycopg2-binary = "*"

