[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
argon2-cffi = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-mptt = "*"

[dev-packages]

[requires]
python_version = "3.13"
